  .container{
      height: 545px;
      margin-top: 150px;

      .gallery{
          width: 1170px;
          height: 540px;
          margin: auto;
          display: flex;
          justify-content: space-between;
          flex-flow: row wrap;

          img{
              width: 300px;
              border: 8px solid rgba(100, 81, 81, 0.445);
          }
      }
  }